/*
!/.gitconfig
!/.gitignore
!/.gitmodules

!/.gvimrc
!/.vimrc
!/.vim
/.vim/.netrwhist

!/.zshenv
!/.zsh
/.zsh/cache
!/.zshrc

!/.screenrc
!/.tmux.conf

!/.gtkrc-2.0
!/.terminfo
!/.termcap
!/.Xdefaults
!/.config/termite/
!/.config/gtk-*/
!/.config/dunst/
!/.local/bin
!/.i3
!/.login_conf
!/.gemrc

!/.yabairc
!/.skhdrc
!/.config/kitty/
