/*
!/.gitconfig
!/.gitignore
!/.gitmodules

!/.vim
/.vim/.netrwhist
!/.config/nvim

!/.zshenv
!/.zshrc
/.zsh

!/.screenrc
!/.tmux.conf

!/.terminfo
!/.termcap
!/.Xdefaults
!/.config/termite/
!/.config/alacritty/
!/.config/dunst/
!/.config/fontconfig/
!/.local/bin
!/.local/fzf
!/.login_conf
!/.gemrc

!/.i3
/.i3/wallpapers
!/.i3/wallpapers/padlock.png

!/.yabairc
!/.skhdrc
!/.config/kitty/
