### ! VIM
[submodule ".local/gef"]
	path = .local/gef
	url = https://github.com/hugsy/gef.git
[submodule ".local/fzf"]
	path = .local/fzf
	url = https://github.com/junegunn/fzf.git

### VIM
[submodule ".vim/pack/vendor/opt/pathogen"]
	path = .vim/pack/vendor/opt/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/pack/vendor/start/buftabline"]
	path = .vim/pack/vendor/start/buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/vendor/start/taglist"]
	path = .vim/pack/vendor/start/taglist
	url = https://github.com/JimiSmith/vim-taglist.git
[submodule ".vim/pack/vendor/start/fzf"]
	path = .vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/vendor/start/align"]
	path = .vim/pack/vendor/start/align
	url = https://github.com/vim-scripts/Align.git
[submodule ".vim/pack/vendor/start/commentary"]
	path = .vim/pack/vendor/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/vendor/start/undotree"]
	path = .vim/pack/vendor/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/pack/vendor/start/repeat"]
	path = .vim/pack/vendor/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/vendor/start/pager"]
	path = .vim/pack/vendor/start/pager
	url = https://github.com/rkitover/vimpager.git
[submodule ".vim/pack/vendor/start/surround"]
	path = .vim/pack/vendor/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/vendor/opt/lightline"]
	path = .vim/pack/vendor/opt/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/vendor/opt/onedark"]
	path = .vim/pack/vendor/opt/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/pack/vendor/opt/gruvbox"]
	path = .vim/pack/vendor/opt/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule ".vim/pack/vendor/opt/papercolor"]
	path = .vim/pack/vendor/opt/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git

# Git
[submodule ".vim/pack/vendor/start/fugitive"]
	path = .vim/pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/vendor/start/gist"]
	path = .vim/pack/vendor/start/gist
	url = https://github.com/mattn/gist-vim
[submodule ".vim/pack/vendor/start/webapi"]
	path = .vim/pack/vendor/start/webapi
	url = https://github.com/mattn/webapi-vim

# syntax
[submodule ".vim/pack/vendor/start/markdown"]
	path = .vim/pack/vendor/start/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/pack/vendor/start/html5"]
	path = .vim/pack/vendor/start/html5
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/pack/vendor/start/css3"]
	path = .vim/pack/vendor/start/css3
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/pack/vendor/start/i3"]
	path = .vim/pack/vendor/start/i3
	url = https://github.com/PotatoesMaster/i3-vim-syntax.git
[submodule ".vim/pack/vendor/start/cocci"]
	path = .vim/pack/vendor/start/cocci
	url = https://github.com/kAworu/vim-coccinelle.git
[submodule ".vim/pack/vendor/start/arduino"]
	path = .vim/pack/vendor/start/arduino
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule ".vim/pack/vendor/start/rust"]
	path = .vim/pack/vendor/start/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/vendor/start/toml"]
	path = .vim/pack/vendor/start/toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/pack/vendor/start/nginx"]
	path = .vim/pack/vendor/start/nginx
	url = https://github.com/fatih/vim-nginx.git
[submodule ".vim/pack/vendor/start/bundler"]
	path = .vim/pack/vendor/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/pack/vendor/start/cucumber"]
	path = .vim/pack/vendor/start/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/pack/vendor/start/css-color"]
	path = .vim/pack/vendor/start/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/pack/vendor/start/swift"]
	path = .vim/pack/vendor/start/swift
	url = https://github.com/bumaociyuan/vim-swift.git
[submodule ".vim/pack/vendor/start/haskell"]
	path = .vim/pack/vendor/start/haskell
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule ".vim/pack/vendor/start/javascript"]
	path = .vim/pack/vendor/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/vendor/start/go"]
	path = .vim/pack/vendor/start/go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/vendor/start/helm"]
	path = .vim/pack/vendor/start/helm
	url = https://github.com/towolf/vim-helm.git
[submodule ".vim/pack/vendor/start/jenkins"]
	path = .vim/pack/vendor/start/jenkins
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule ".vim/pack/vendor/start/bpftrace"]
	path = .vim/pack/vendor/start/bpftrace
	url = https://github.com/mmarchini/bpftrace.vim.git
[submodule "/home/alex/.vim/pack/plugins/start/terraform"]
	path = /home/alex/.vim/pack/plugins/start/terraform
	url = https://github.com/hashivim/vim-terraform.git
