[user]
	email = alex@kaworu.ch
	name = Alexandre Perrin

[color]
	ui = auto

[diff]
	algorithm = patience

[color "diff"]
	whitespace = red reverse

[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = vim
	pager = less -FRX
	filemode = false

[merge]
	tool = vimdiff

[pull]
	ff = only

[push]
	default = simple

[alias]
	st = status
	rs = restore
	ci = commit -v
	br = branch
	co = checkout
	sw = switch
	dc = diff --cached
	ds = diff --stat
	ll = log --decorate --graph --pretty=oneline
	ls = ls-files
	stash-file-list = "!for s in `git stash list --format=\"%gd\"`; do git stash show \"$s\" --name-only | sed -e \"s/^/$s: /\"; done"
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
	pr = "!f() { git fetch -fu ${2:-$(git remote | grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"

[github]
	user = kaworu
