### VIM
[submodule ".vim/bundle/vim-webapi"]
	path = .vim/bundle/vim-webapi
	url = git://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = git://github.com/vim-scripts/Align.git

# Ruby & Rails stuff.
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git

# Git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-gist"]
	path = .vim/bundle/vim-gist
	url = git://github.com/mattn/gist-vim.git

# syntax
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git


### ! VIM
[submodule ".urxvt/urxvt-perls"]
	path = .urxvt/urxvt-perls
	url = git://github.com/muennich/urxvt-perls.git

[submodule ".i3/lua-mpd"]
	path = .i3/lua-mpd
	url = git://github.com/kAworu/lua-mpd.git
