/*
!/.gitconfig
!/.gitignore
!/.gitmodules

!/.vim
/.vim/.netrwhist

!/.zshenv
!/.zshrc
!/.zsh
/.zsh/cache

!/.screenrc
!/.tmux.conf

!/.terminfo
!/.termcap
!/.Xdefaults
!/.config/termite/
!/.config/dunst/
!/.local/bin
!/.local/fzf
!/.i3
!/.login_conf
!/.gemrc

!/.yabairc
!/.skhdrc
!/.config/kitty/

!/.wallpapers
/.wallpapers/*
!/.wallpapers/lockscreen.sh
!/.wallpapers/padlock.png
